@media screen and (min-width: 1920px) {
    body {
        max-width: 60%;
        margin: auto;
    }
}

@media screen and (min-width: 601px) {
    .form-container {
        max-width: 500px;
        margin: auto;
    }
}

.image-container {
    background-image: url("pic2.png");
    background-size: cover;
    position: relative;
    height: 200px;
}

.text {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: calc(10px + 1.5vw);
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

@media screen and (min-width: 601px) {
    .form-container-reg {
        max-width: 500px;
        margin: auto;
    }
}

.icon {
    padding: 10px;
    background: white;
    color: black;
    min-width: 50px;
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover {
    background-color: rgb(213, 159, 109);
}

@media screen and (max-width: 300px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.row a:hover {
    background-color: rgb(213, 159, 109);
}